---

- name: Get current working directory
  ansible.builtin.set_fact:
    current_working_dir: "{{ lookup('env', 'PWD') | default(lookup('env', 'HOME'), true) }}"
  tags:
    - passwords

- name: Check if we have vault set up
  ansible.builtin.stat:
    path: "{{ current_working_dir }}/.vault_pw"
  register: vault_pw_stat
  ignore_errors: true
  tags:
    - passwords

- name: Fail if .vault_pw file does not exist
  ansible.builtin.fail:
    msg: "The .vault_pw file does not exist. Please configure your vault."
  when: not vault_pw_stat.stat.exists
  tags:
    - passwords

- name: Check if we have a passwords.yml file
  ansible.builtin.stat:
    path: "{{ current_working_dir }}/passwords.yml"
  register: passwords_yml_stat
  ignore_errors: true
  tags:
    - passwords

- name: Fail if passwords.yml does not exist
  ansible.builtin.fail:
    msg: "The passwords.yml file does not exist. Please fully configure your vault."
  when: not passwords_yml_stat.stat.exists
  tags:
    - passwords

- name: Print password retrival information
  ansible.builtin.debug:
    msg:
      - 'To view your passwords, issue the following commands:'
      - '  yq -r .WEBPASS passwords.yml | ansible-vault decrypt --vault-password-file .vault_pw'
      - '  yq -r .PIHOLEUSERPASS passwords.yml | ansible-vault decrypt --vault-password-file .vault_pw'
  tags:
    - passwords
